<section class='row'>
  <h1><%= t('flash.sessions.user') %></h1>

  <section class="bs bs-info">
    <%= debug @user %>
  </section>

  <h2><%= t('flash.sessions.params') %></h2>

  <section class="bs bs-alert">
    <%= debug params %>
  </section>

  <h2><%= t('flash.sessions.session') %></h2>

  <section class="bs bs-alert">
    <%= debug session %>
  </section>
</section>
