<!DOCTYPE html>
<html>
<head>
  <title><%= t('flash.app.title') %></title>

  <%= stylesheet_link_tag "application", media: "all" %>
  <%= csrf_meta_tags %>
</head>
  <body>

  <header class="dashboard-header navbar-static-top">
     <h1><%= t('flash.app.name') %></h1>
  </header>

  <section class="container">
    <%= render "shared/flash_messages" %>

    <%= yield %>
  </section>

  <!-- Javascripts -->
  <%= javascript_include_tag "application" %>
  </body>
</html>
